//to add two numbers
#include<stdio.h>
getInput(int m,int n)
{
    printf("Enter the 2 numbers\n");
    scanf("%d %d",&m,&n);
}
int add(int u,int v)
{
    int s;
    s=u+v;
    return s;
}
int output(int a,int b)
{
    int sum;
    sum=add(a,b);
    printf("Sum = %d",sum);
}
void main()
{
    int x,y;
    getInput(x,y);
    output(x,y);
}

